/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2023) 
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import 'mocha.css'; 
@define-color surface0 #313244;
@define-color backgrounddark #cdd6f4;
@define-color workspacesbackground1 #cdd6f4;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #cdd6f4;
@define-color textcolor1 #cdd6f4;
@define-color textcolor2 #cdd6f4;
@define-color textcolor3 #cdd6f4;
@define-color iconcolor #cdd6f4;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", "Font Awesome 6 Free", FontAwesome,  Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 1rem;
}

window#waybar {
    background-color: rgba(17, 17, 27, 0.2);
    border-bottom: 0px solid #cdd6f4;
    /* color: #cdd6f4; */
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left, .modules-center, .modules-right {
	background: @theme_base_color; 
 	border: 0.5px solid @overlay0;
	border-radius: 15px;

} 

.modules-left, .modules-right {
	background: @theme_base_color; 
 	border: 0.5px solid @overlay0;
	padding-top: 2px;
	padding-bottom: 2px;

} 
.modules-left{
    padding-right: 14px;
    padding-left: 4px;

} 
.modules-right{
    padding-left: 14px;

} 
.modules-center {
  	border: 1px solid @blue;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	padding-left: 10px;
} 
/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

 #workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 0.5rem;
  }
  
  #workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding-left: 0.5em;
  }
  
  #workspaces button.active {
    color: @sky;
    border-radius: 1rem;
  }
  
  #workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
  }
/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 1rem;
    background-color: @surface0;
    opacity:0.8;
    padding:20px;
    margin: 5px;
}

tooltip label {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: @surface0;
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 1rem;
    color:@textcolor2;
    font-size:16px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: @surface0;
    margin: 5px 15px 5px 0px;
    padding:0px;
    border-radius: 1rem;
    font-weight: normal;
    font-style: normal;
    border: 3px solid @surface0;
}

#taskbar button {
    margin:0;
    border-radius: 1rem;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */
#custom-temprature,
  
  
#custom-cava_mviz {
	color: @pink;
    background-color: @surface0;
    border-radius: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
}

#custom-brave, 
#custom-browser{
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: @maroon;
}
#custom-keybindings, 
#custom-outlook, 
#custom-filemanager, 
#custom-teams, 
#custom-chatgpt, 
#custom-calculator, 
#custom-windowsvm, 
#custom-cliphist, 
#custom-settings{
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: @blue;
}
#custom-wallpaper{
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: @green;
}
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 23px;
    font-size: 20px;
    font-weight: bold;
    color: @sky;
}
 
#custom-hyprshade {
    margin-right:12px;
}

#custom-hypridle {
    margin-right:16px;
}

#custom-hypridle.active {
    color: @iconcolor;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-waybarthemes,#custom-system {
     margin-right:15px;
}

#custom-ml4w-welcome {
    margin-right: 12px;
    background-image: url("../assets/ml4w-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    padding-right: 24px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

 #idle_inhibitor {
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @surface0;
    font-size: 16px;
    color: @textcolor1;
    border-radius: 1rem;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 10px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:20px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background-color: @surface0;
    font-size: 16px;
    color: @red;
    border-radius: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}


/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#language {
    margin:0px;
    padding:0px;
    font-size:16px;
    color:@iconcolor;
}

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @surface0;
    font-size: 16px;
    color: @textcolor1;
    border-radius: 1rem;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}
#custom-clock {
    background-color: @surface0;
    font-size: 18px;
    color: @textcolor1;
    border-radius: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

 #backlight {
    background-color: @surface0;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 1rem;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: @surface0;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 1rem;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}

#pulseaudio.muted {
    background-color: @crust;
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @surface0;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 1rem;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}

#network.ethernet {
    background-color: @surface0;
    color: @textcolor2;
}

#network.wifi {
    background-color: @surface0;
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @surface0;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 1rem;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: @surface0;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 1rem;
    padding: 2px 15px 0px 10px;
    margin: 5px 15px 5px 0px;
}

#battery.charging, #battery.plugged {
    color: @textcolor2;
    background-color: @surface0;
}

@keyframes blink {
    to {
        background-color: @surface0;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin:0px 10px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #cdd6f4;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

