/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┓ ┏┏┓┓┏┳┓┏┓┳┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┃┃┃┣┫┗┫┣┫┣┫┣┫
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┻┛┛┗┗┛┻┛┛┗┛┗
 *                                   
 */


/*-----Surface Transparent Background------*/
@define-color surface-alpha rgba(24, 18, 12, 0.5);

/*-----All Colors--------*/

@define-color background #18120c;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #362f27;

@define-color inverse_primary #815512;

@define-color inverse_surface #ede0d4;

@define-color on_background #ede0d4;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #462a00;

@define-color on_primary_container #ffddb6;

@define-color on_primary_fixed #2a1800;

@define-color on_primary_fixed_variant #643f00;

@define-color on_secondary #3e2d16;

@define-color on_secondary_container #fcdebc;

@define-color on_secondary_fixed #271905;

@define-color on_secondary_fixed_variant #57432b;

@define-color on_surface #ede0d4;

@define-color on_surface_variant #d3c4b4;

@define-color on_tertiary #263514;

@define-color on_tertiary_container #d6e9ba;

@define-color on_tertiary_fixed #111f03;

@define-color on_tertiary_fixed_variant #3c4c28;

@define-color outline #9c8e80;

@define-color outline_variant #4f4539;

@define-color primary #f6bc70;

@define-color primary_container #643f00;

@define-color primary_fixed #ffddb6;

@define-color primary_fixed_dim #f6bc70;

@define-color scrim #000000;

@define-color secondary #dec2a2;

@define-color secondary_container #57432b;

@define-color secondary_fixed #fcdebc;

@define-color secondary_fixed_dim #dec2a2;

@define-color shadow #000000;

@define-color source_color #c29863;

@define-color surface #18120c;

@define-color surface_bright #3f3830;

@define-color surface_container #251e17;

@define-color surface_container_high #302921;

@define-color surface_container_highest #3b342b;

@define-color surface_container_low #211a13;

@define-color surface_container_lowest #130d07;

@define-color surface_dim #18120c;

@define-color surface_tint #f6bc70;

@define-color surface_variant #4f4539;

@define-color tertiary #bacd9f;

@define-color tertiary_container #3c4c28;

@define-color tertiary_fixed #d6e9ba;

@define-color tertiary_fixed_dim #bacd9f;

